.movieShow {
  background-color: var(--cp-bg-darker);
  transform: scale(0.9);
  width: 30rem;
  display: flex;
  outline: 1px solid var(--cp-accent-secondary);
}
.movieShow:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.5s;
}
.movieShow img {
  height: 100%;
  width: 45%;
  opacity: 1;
}

.movieShow:hover img {
  transition: all ease-in 300ms;
  filter: grayscale(0);
}

.Yes {
  opacity: 0.35;
  transition: all ease-in 300ms;
  filter: grayscale(1);
}

.overviewInfo {
  width: 55%;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.movieShow h2 {
  font-size: 0.7rem;
  margin: 0;
  padding: 1rem;
  height: 30%;
  text-align: center;
}

.overviewInfo p {
  height: 60%;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 0.7rem;
  text-align: justify;
  overflow: hidden;
}

.overviewInfo button {
  height: 10%;
  color: var(--cp-accent-secondary);
  background-color: var(--cp-accent-primary);
  border: none;
  box-shadow: 1rem;
}
