<mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">
            <ng-container style="margin: .5%;" *ngFor="let item of list" fxFlexAlign="0 1 calc(33.3% - 11px)" fxFlexAlign.lt-md="0 1 calc(50% - 11px)" fxFlexAlign.lt-sm="100%">
                <mat-card class="example-card">
                    <mat-card-title>
                        A
                    </mat-card-title>
                    <mat-card-content>
                        <p>
                            {{item.overview}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>

    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>