/* Importação da fonte 'Fira Code' do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color:#A8EB12;
  --bg-color-dark:#444939;
  --bg-color-light:#A9AD9B;

  --ff: "Fira Code", sans-serif;
  --border-radius: 1rem;
  --transition-time: .5s all ease;
}

#root {
  font-size: 82.5%;
  text-align: center;
  font-family: var(--ff);
}



a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

.App {
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.box{
  display:grid;
  place-items:center;
}

nav{
  display: flex;
  background-color: #111;
  width:100vw;
  height:100%;
}

nav ul{
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
}
nav ul li{
  padding:.5rem 1.5rem;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

footer{
  display:grid;
  place-items: center;
  padding: 1.5rem;
  bottom: 0;
}


.logo{
  padding:.5rem;
  max-width: 200px;
}

.logo img {
 width:100%;
}

.card {
  width: 90vw;
  max-width: 200px;
  height:100%;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.card img{
  height: 100%;
  width: 100%;
  
}

.card img:hover{
  outline: 2px solid var(--primary-color);
}

.Yes:hover{
  filter: grayscale(0);
}

.movie-info{
  height: 5%;
  font-size:12px;
  margin-top: 1rem;
}

.Yes {
  filter: grayscale(1)
}

@media screen and (max-width:700px){
 nav{
  flex-direction:column;
 }
 nav ul, .logo{
  margin: 0 auto;
 }
}